@use '@place/framework/mixins' as *;

// Vars
$pre-background: #f7f7f7;
$pre-border: #e0e0e0;

// Style
html,
body {
	background: white;
}

body {
	font-family: 'Canela Thin', serif;
}

pre {
	background: $pre-background;
	border: solid 1px $pre-border;
	border-radius: 5px;
	padding: 1.5em;
	white-space: normal;
}

.item-spaced {
	margin-top: 1em;
}

[class*='demo-row'],
[class*='demo-grid'] {
	margin-top: 6.5em;

	[class*='row'],
	[class*='grid'] {
		margin-top: 1em;
	}

	.item-fill {
		padding: 2em 2.5em;
		background: var(--demo-color);
		border-radius: px(10);
		text-align: center;
	}
}

.vertical-rhythm {
	@for $i from 1 through 3 {
		.rhythm-#{$i} {
			@include rhythm-margin-block-start($units: $i);
		}
	}
}
